<!-- Core -->
<script src="https://cdn.totaljs.com/livereload.js"></script>
<script src="@{CONF.app_assets_url}/vendor/jquery/dist/jquery.min.js"></script>
<script src="@{CONF.app_assets_url}/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@{CONF.app_assets_url}/vendor/js-cookie/js.cookie.min.js"></script>
<script src="@{CONF.app_assets_url}/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="@{CONF.app_assets_url}/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="@{CONF.app_assets_url}/js/argon.min.js?v=1.1.0"></script>
<!-- Demo JS - remove this in your project -->
<script src="@{CONF.app_assets_url}/js/demo.min.js"></script>